In [ ]:
import pandas as pd

# Logistic Regression Model
- supervised Learning Algorithm
- Binary classification problem

In [ ]:
sonar_data = pd.read_csv("sonar_data.csv",header=None)

In [ ]:
sonar_data.sample(5)

         0       1       2       3       4   ...      56      57      58      59  60
52   0.0087  0.0046  0.0081  0.0230  0.0586  ...  0.0030  0.0064  0.0058  0.0030   R
69   0.0216  0.0215  0.0273  0.0139  0.0357  ...  0.0047  0.0024  0.0009  0.0017   R
201  0.0335  0.0258  0.0398  0.0570  0.0529  ...  0.0045  0.0022  0.0005  0.0031   M
3    0.0100  0.0171  0.0623  0.0205  0.0205  ...  0.0050  0.0044  0.0040  0.0117   R
126  0.0715  0.0849  0.0587  0.0218  0.0862  ...  0.0066  0.0099  0.0083  0.0124   M

[5 rows x 61 columns]

In [ ]:
sonar_data.shape

(208, 61)

In [ ]:
sonar_data.info()

In [ ]:
# statistical measures of the data
sonar_data.describe()

In [ ]:
sonar_data[60].value_counts()
# almost equal number of both type of data is present in the dataset

M    111
R     97
Name: 60, dtype: int64

In [ ]:
# rock and Mine data mean values over the all columns
# based on these differnce predicating wheter its Mine or rock 
sonar_data.groupby(60).mean()

          0         1         2   ...        57        58        59
60                                ...
M   0.034989  0.045544  0.050720  ...  0.009060  0.008695  0.006930
R   0.022498  0.030303  0.035951  ...  0.006677  0.007078  0.006024

[2 rows x 60 columns]

In [ ]:
# separating the data and lables
x = sonar_data.drop(columns = 60, axis = 1)
y = sonar_data[60]

In [ ]:
print(x)

         0       1       2       3   ...      56      57      58      59
0    0.0200  0.0371  0.0428  0.0207  ...  0.0180  0.0084  0.0090  0.0032
1    0.0453  0.0523  0.0843  0.0689  ...  0.0140  0.0049  0.0052  0.0044
2    0.0262  0.0582  0.1099  0.1083  ...  0.0316  0.0164  0.0095  0.0078
3    0.0100  0.0171  0.0623  0.0205  ...  0.0050  0.0044  0.0040  0.0117
4    0.0762  0.0666  0.0481  0.0394  ...  0.0072  0.0048  0.0107  0.0094
..      ...     ...     ...     ...  ...     ...     ...     ...     ...
203  0.0187  0.0346  0.0168  0.0177  ...  0.0065  0.0115  0.0193  0.0157
204  0.0323  0.0101  0.0298  0.0564  ...  0.0034  0.0032  0.0062  0.0067
205  0.0522  0.0437  0.0180  0.0292  ...  0.0140  0.0138  0.0077  0.0031
206  0.0303  0.0353  0.0490  0.0608  ...  0.0034  0.0079  0.0036  0.0048
207  0.0260  0.0363  0.0136  0.0272  ...  0.0040  0.0036  0.0061  0.0115

[208 rows x 60 columns]

In [ ]:
print(y)

0      R
1      R
2      R
3      R
4      R
      ..
203    M
204    M
205    M
206    M
207    M
Name: 60, Length: 208, dtype: object

Training and Test data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.1, stratify =y, random_state=1)

In [ ]:
print(x.shape, x_train.shape, x_test.shape)

(208, 60) (187, 60) (21, 60)

##Logistic regression Model Training

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
# model trainig with training data
model.fit(x_train, y_train)

LogisticRegression()

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
# Model evaluation
x_train_pred = model.predict(x_train)
train_data_accu = accuracy_score(x_train_pred, y_train)

In [ ]:
print(train_data_accu)

0.8342245989304813

In [ ]:
x_test_pred = model.predict(x_test)
test_data_accu = accuracy_score(x_test_pred, y_test)

In [ ]:
print(test_data_accu)

0.7619047619047619

In [ ]:
import numpy as np

In [ ]:
# Making predicative system
in_data = (0.0412,0.1135,0.0518,0.0232,0.0646,0.1124,0.1787,0.2407,0.2682,0.2058,0.1546,0.2671,0.3141,0.2904,0.3531,0.5079,0.4639,0.1859,0.4474,0.4079,0.5400,0.4786,0.4332,0.6113,0.5091,0.4606,0.7243,0.8987,0.8826,0.9201,0.8005,0.6033,0.2120,0.2866,0.4033,0.2803,0.3087,0.3550,0.2545,0.1432,0.5869,0.6431,0.5826,0.4286,0.4894,0.5777,0.4315,0.2640,0.1794,0.0772,0.0798,0.0376,0.0143,0.0272,0.0127,0.0166,0.0095,0.0225,0.0098,0.0085)
data_array = np.asarray(in_data) # changing the inpute data in to numpy array

indata_reshape = data_array.reshape(1,-1) # reshape the np array as we are predicting for one instance

predication = model.predict(indata_reshape) 

if predication[0] == 'R':
  print("The Object is Rock")
else:
  print("The Object is Mine")

The Object is Mine